/* CategoryCatalogue.js */

.catalogue-header {
  padding-bottom: 25px; /* Add padding below the catalogue header */
  padding-top: 120px;
}

.catalogue-container {
  width: 100%; /* Make the container full-width */
  max-width: 1200px; /* Limit the maximum width */
  margin: 20px auto; /* Center the container horizontally */
  padding: 0 20px; /* Adjust padding */
  justify-content: center; /* Center the content horizontally */
}

.catalogue-row {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: space-around; /* Center items horizontally with gaps */
  gap: 30px; /* Increase gap between items */
}

.catalogue-col-1 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0px 10px;
}
  
.catalogue-col-2 {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0 10px;
}

/* CategoryList.js */

.category-list-container {
  position: relative;
  margin-left: -550px;
  padding-left: 70px;
  padding-right: 120px; 
  margin-top: -80px;
  padding: 50px; 
  width: 600px;
  height: 150px;
}

.category-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  overflow: hidden; /* Hide overflow if tabs exceed container width */
}

.category-list li {
  cursor: pointer;
  margin-bottom: 0px;
  padding: 10px 20px; /* Increase padding */
  font-family: 'Times New Roman', sans-serif; /* Set the font family */
  font-size: 18px; /* Set the font size */
  font-weight: 400; /* Set the font weight */
  line-height: 1.5; /* Set the line height */
  text-align: left;
  border-radius: 10px; /* Adjust border radius */
  background-color: transparent;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.category-list li.active {
  background-color: #076142;
  color: #fff;
}


/* Optional: Hover effect */
.category-list li:hover {
  background-color: #ddd;
  color: #333;
}



/* ProductList.js */

.product-list {
  padding: 10px;
  margin-top: -30px;
  margin-left: -220px;
  margin-right: -220px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc; /* Add border */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.product-list:hover {
  border-color: #0c0c0c86;
}

.card-info-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0 -5px;
}
 
.card-info-container ul {
  list-style-type: none;
  padding: 0;
}


.product-list li {
  background-color: #fff; /* Background color */
  border: 1px solid #ddd;
  border-radius: 10px; /* Adjust border radius */
  padding: 10px; /* Adjust padding */
  aspect-ratio: 1 / 1;
  width: calc(25% - 20px); /* 25% width with 20px margin on both sides */
  
  position: relative; /* Position the overlay */
  overflow: hidden; /* Hide overflow content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition */
  margin: 0 10px 20px; /* Margin around each product item */
  text-align: center; 
}

.product-item img {
  aspect-ratio: 1 / 1; /* Apply aspect ratio of 1:1 */
  max-width: 100%; /* Ensure image does not overflow */
  border-radius: 8px; /* Adjust border radius */
  object-fit: cover; /* Ensure image covers the container */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.product-item:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.product-item p {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 16px; /* Adjust font size */
  margin-top: 10px; /* Adjust margin */
}
