/* Navbar */

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: rgb(48, 48, 48);
    padding-left: 48px;
    padding-right: 48px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navbar__logo img {
    width: 150px; 
  }
  
  .navbar__links {
    list-style-type: none;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: large;
  }
  
  .navbar__links li {
    margin-right: 24px; /* Adjust spacing between links */
  }
  
  .navbar__links li:last-child {
    margin-right: 0;
  }
  
  .navbar__links a {
    color: rgb(48, 48, 48);
    text-decoration: none;
    position: relative;
  }
  
  .navbar__links a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: rgb(255, 153, 0);
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease, left 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  
  .navbar__links a:hover::after {
    width: 100%;
    left: 0;
    opacity: 1;
    transition-delay: 0.3s; /* Delay the transition */
  }
  