.fade-in-left {
    opacity: 0;
    transform: translateX(-100px); /* Initial position off-screen to the left */
    transition: all 0.9s cubic-bezier(0.17, 0.55, 0.55, 1) 1.0s;
  }
  
  .visible {
    opacity: 1;
    transform: translateX(0); /* Move to original position */
  }
  