/* CategoryCatelogue.js */

.catalogue-header{
  padding-top: 100px;
  text-align: center;
}
  
.catalogue-container {
  max-width: 1200px;
  margin: 20px 0;
  padding: 0 10px;
}
  
.catalogue-row {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -5px;
}
  
.catalogue-col-1 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0px 10px;
}
  
.catalogue-col-2 {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0 10px;
}
  
/* CategoryList.js */

.category-card {
  margin-right: 30px !important;
  margin-top: 0px;
  padding: 50px; 
  width: 180px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc; /* Add border */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
  
.category-card:hover {
  border-color: #0c0c0c86;
}
  
.category-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
  
.category-card ul {
  list-style-type: none;
  padding: 0px;
}
  
.category-card li {
  margin-bottom: 5px;
  cursor: pointer;
  font-family: 'Times New Roman', sans-serif; /* Set the font family */
  font-size: 22px; /* Set the font size */
  font-weight: 400; /* Set the font weight */
  line-height: 1.5; /* Set the line height */
  text-align: left;
}
  
.category-button {
  position: relative;
  border: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  background-color: transparent; /* Set button background color to transparent */
  color: #333; /* Set button text color */
  padding: 5px 10px; /* Add padding to the button */
  margin: 0; /* Remove margin */
  transition: color 0.3s; /* Add transition for color */
}

.category-button::before {
  content: '';
  position: absolute;
  width: 0; /* Start with no underline */
  height: 3px; /* Set the thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: rgb(255, 153, 0); /* Set the color of the underline */
  transition: width 0.3s ease, left 0.3s ease, opacity 0.3s ease;
}

.category-button:hover::before {
  width: 100%; /* Fully underline on hover */
}

.category-button:active,
.category-button:focus {
  font-weight: bold;
  color: #076142;
  transform: translateY(1px); /* Move the button down slightly when clicked */
}

.category-button.all {
  font-weight: bold;
  color: #076142;
  transform: translateY(1px); /* Move the button down slightly when clicked */
}


  
/* ProductList.js */
  
.product-list {
  padding: 10px;
  margin-left: -100px;
  margin-right: -120px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc; /* Add border */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.product-list:hover {
  border-color: #0c0c0c86;
}
  
.product-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
    
.card-info-container ul {
  list-style-type: none;
  padding: 0;
}
  
.card-info-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0 -5px;
}
  
.product-list li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  flex: 0 0 calc(33.33% - 20px); /* 33.33% width with 20px margin on both sides */
  margin: 0 10px 20px; /* Margin around each product item */
}
  
.product-item li:hover {
  background-color: #e9e9e9;
}
  
.product-item {
  width: calc(33.33% - 20px); /* 33.33% width with 20px margin on both sides */
  margin: 0 10px 20px; /* Margin around each product item */
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
  
.product-item img {
  /* max-width: 100%; */
  height: auto;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  object-fit: contain;
}
  
.overlay {
  position: absolute;
  bottom: 0; /* Position at the bottom */
  left: 0;
  width: 100%;
  height: 17%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
  
.product-item .overlay {
  opacity: 1;
}

.product-item p {
  /* margin-top: 10px; */
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
}

/* CategoryCatelogue.js */

/* Add media query for medium screens */
@media only screen and (max-width: 1024px) {
  .catalogue-col-2 {
    margin-top: 20px; /* Adjust margin-top for spacing on medium screens */
  }
}

/* Add media query for small screens */
@media only screen and (max-width: 600px) {
  .catalogue-col-1,
  .catalogue-col-2 {
    flex: 0 0 100%; /* Set columns to take full width on small screens */
    max-width: 100%; /* Set maximum width to 100% */
    margin: 10px 0; /* Add vertical margin for spacing */
    padding: 0; /* Remove padding */
  }
}

/* ProductList.js */

/* Add media queries for responsive layout */

/* Medium screens */
@media only screen and (max-width: 1024px) {
  .product-item {
    width: calc(50% - 20px); /* Adjust width for two items per row on medium screens */
    margin: 10px; /* Add margin for spacing */
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .product-item {
    width: calc(100% - 20px); /* Adjust width for one item per row on small screens */
    margin: 10px; /* Add margin for spacing */
  }
}

/* Extra small screens */
@media only screen and (max-width: 375px) {
  .product-list {
    margin-top: 20px; /* Adjust margin-top for spacing */
  }

  .product-item {
    width: calc(50% - 20px); /* Adjust width for two items per row on extra small screens */
    margin: 10px; /* Add margin for spacing */
  }
}
